<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listaProductos.css" />

    <title>Inventario de productos</title>
  </head>
  <body style="align-self: center">
    <%- include('../partials/header') %>
    <div class="listaProductos-wrapper">
      <h2>Editar Producto</h2>
      <section>
        <div class="formulario-creacion preview-producto">
          <div class="imagen-wrapper"><img src="/img/productos/<%=productoAEditar.imagen%>" alt="img"></div>
          <div class="info-wrapper">
            <p class="preview-titulo"> <%=productoAEditar.id%>.  <%=productoAEditar.nombre%></p>
            <div class="preview-info">
              <p><span>Precio:</span> $<%=productoAEditar.precio%></p>
              <p><span>Tipo:</span> <%=productoAEditar.tipo%></p>
              <p><span>Archivo Imagen:</span> <%=productoAEditar.imagen%></p>
              <p><span>Descripción:</span><br/><%=productoAEditar.descripcion%></p>
            </div>      
          </div>        
        </div>
        <div class="formulario-creacion">
          <form method="POST" action="/listaProductos/<%=productoAEditar.id%>/editar?_method=PUT" enctype="multipart/form-data">
            <div class="campos-formulario">
              <div>
                <label for="id">ID</label>
                <input
                  type="number"
                  name="id"
                  readonly
                  value="<%=productoAEditar.id%>"
                  id="id"
                />
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion">
              <%=productoAEditar.descripcion%>
              </textarea>
              <% if(locals.errors && errors.descripcion){%>
                <div style="color: red"><%= errors.descripcion.msg %></div>
                <%}%>
              </div>
              <div>
                <label for="nombre">Nombre</label>
                <input
                  type="text"
                  name="nombre"
                  id="nombre"
                  value="<%=productoAEditar.nombre%>"
                />
                <% if(locals.errors && errors.nombre){%>
                  <div style="color: red"><%= errors.nombre.msg %></div>
                  <%}%>
                <label for="tipo_id">Tipo de producto</label>
                <select name="tipo_id" id="tipo_id">
                  <option value="1" <%= productoAEditar.tipo_id == '1' ? 'selected' : ''%>>alimento</option>
                  <option value="2" <%= productoAEditar.tipo_id == '2' ? 'selected' : ''%>>juguete</option>
                </select>
                <input
                  class="crear-boton no-mobile"
                  type="submit"
                  value="Guardar Cambios"
                />
              </div>
              <div>
                <label for="precio">Precio</label>
                <input
                  type="number"
                  name="precio"
                  id="precio"
                  value="<%=productoAEditar.precio%>"
                />
                <% if(locals.errors && errors.precio){%>
                  <div style="color: red"><%= errors.precio.msg %></div>
                  <%}%>
                <label for="imagen">Archivo Foto</label>
                <input type="file" name="imagen" id="imagen" />
                <input
                  class="no-desktop crear-boton"
                  type="submit"
                  value="Guardar Cambios"
                />
                <button class="no-mobile">Limpiar Campos</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
