<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/alerta.css" />

    <title>PetShop Grupo 7</title>
  </head>
  <body>
    <%- include('../partials/header') %>

    <div class="banner">
      <!-- slider start -->
      <div class="slider">
        <div class="slides">
          <input type="radio" name="radio-btn" id="radio1" />
          <input type="radio" name="radio-btn" id="radio2" />
          <input type="radio" name="radio-btn" id="radio3" />
          <input type="radio" name="radio-btn" id="radio4" />
          <div class="slide first">
            <img src="img/assets/bannerImg1.png" alt="" />
          </div>
          <div class="slide">
            <img src="img/assets/bannerImg2.png" alt="" />
          </div>
          <div class="slide">
            <img src="img/assets/bannerImg3.png" alt="" />
          </div>
          <div class="slide">
            <img src="img/assets/bannerImg4.png" alt="" />
          </div>
          <div class="navigation-auto">
            <div class="aito-btn-1"></div>
            <div class="aito-btn-2"></div>
            <div class="aito-btn-3"></div>
            <div class="aito-btn-4"></div>
          </div>
        </div>
        <div class="navigation-manual">
          <label for="radio1" class="manual-btn"></label>
          <label for="radio2" class="manual-btn"></label>
          <label for="radio3" class="manual-btn"></label>
          <label for="radio4" class="manual-btn"></label>
        </div>
      </div>
      <!-- slider end -->

      <div class="slogan">
        <h3>
          Porque ellos merecen...<br />
          lo mejor y lo más bonito, a los mejores precios
        </h3>
        <h1 data-shadow="PetShop">PetShop</h1>
        <button><p>Conoce mas</p></button>
      </div>
    </div>
    <div class="index-wrapper">
      <!-- <section id="productos-destacados">
        <div class="pd-slider">PRODUCTOS DESTACADOS</div>
      </section> -->
      <h2>Categorias</h2>
      <div class="categorias">
        <div class="categoria">
          <a href="#alimentos">
            <img
              src="./img/assets/logoComidaNar.png"
              alt=""
              srcset=""
              class="imgAlimentoBack"
            />
            <img
              src="./img/assets/logoComidaBlanco.png"
              alt=""
              srcset=""
              class="imgAlimentoTop"
            />

            <h3>Alimentos</h3>
          </a>
        </div>
        <div class="categoria">
          <a href="#juguetes">
            <img
              src="./img/assets/logoJugueteNar.png"
              alt=""
              srcset=""
              class="imgJugueteBack"
            />
            <img
              src="./img/assets/logoJugueteBlanco.png"
              alt=""
              srcset=""
              class="imgJugueteTop"
            />

            <h3>Juguetes</h3>
          </a>
        </div>
      </div>

      <section id="alimentos">
        <h2>Alimentos</h2>
        <div class="wrapper-productos" id="alimentos">
          <% for(let alimento of alimentos){ %>
          <article class="carta-producto">
            <div class="imagen-producto">
              <img src="img/productos/<%=alimento.imagen%>" alt="alimento" />
            </div>
            <div class="info-producto">
              <p class="nombre-producto"><%=alimento.nombre%></p>
              <p class="precio-producto">$<%=alimento.precio%></p>
              <div class="detalles-agregar">
                <button
                  class="mas-detalles"
                  onclick="window.location.href='/productDetail/<%=alimento.id%>'"
                >
                  Más Detalles
                </button>
                <div class="agregar">
                  <div class="botones-agregar">
                    <button class="boton-menos" id="menos<%=alimento.id%>">
                      -
                    </button>
                    <p>Agregar</p>
                    <button class="boton-mas" id="mas<%=alimento.id%>">
                      +
                    </button>
                  </div>
                  <div class="cantidad-agregada">
                    <p id="num<%=alimento.id%>" class="num">1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="boton-comprar">
              <form action="/productCart" class="formCompra">
                <button type="submit" class="comprar" id="<%=alimento.id%>">
                  <span id="<%=alimento.id%>">Comprar </span>
                </button>
              </form>
            </div>
          </article>
          <%} %>
        </div>
      </section>
      <section id="juguetes">
        <h2>Juguetes</h2>
        <div class="wrapper-productos" id="juguetes">
          <% for(let juguete of juguetes){ %>
          <article class="carta-producto">
            <div class="imagen-producto">
              <img src="img/productos/<%=juguete.imagen%>" alt="juguete" />
            </div>
            <div class="info-producto">
              <p class="nombre-producto"><%=juguete.nombre%></p>
              <p class="precio-producto">$<%=juguete.precio%></p>
              <div class="detalles-agregar">
                <button
                  class="mas-detalles"
                  onclick="window.location.href='/productDetail/<%=juguete.id%>'"
                >
                  Más Detalles
                </button>
                <div class="agregar">
                  <div class="botones-agregar">
                    <button class="boton-menos" id="menos<%=juguete.id%>">
                      -
                    </button>
                    <p>Agregar</p>
                    <button class="boton-mas" id="mas<%=juguete.id%>">+</button>
                  </div>
                  <div class="cantidad-agregada">
                    <p id="num<%=juguete.id%>" class="num">1</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="boton-comprar">
              <form action="/productCart" class="formCompra">
                <button id="<%=juguete.id%>" class="comprar" type="submit">
                  <span id="<%=juguete.id%>">Comprar </span>
                </button>
              </form>
            </div>
          </article>
          <%} %>
        </div>
      </section>
    </div>
    <%- include('../partials/footer') %> <% if (typeof alertaExitosa
    !=="undefined" && alertaExitosa ==true ){%>
    <script src="/events/alertaExitosa.js"></script>
    <% alertaExitosa = false%> <%}%>
    <script src="/events/alertaAgregar.js"></script>

    <script src="./events/buscador.js"></script>
    <script src="./events/compraAlerta.js"></script>
    <script src="./events/agregarProducto.js"></script>
    <script src="./events/headerFijo.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script
      src="https://kit.fontawesome.com/1998716f67.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
