<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/listaProductos.css" />
    <link rel="stylesheet" href="/css/alerta.css" />

    <title>Inventario de productos</title>
  </head>
  <body style="align-self: center">
    <%- include('../partials/header') %>
    <div class="listaProductos-wrapper">
      <h2>Crear Nuevo Producto</h2>
      <section>
        <div class="formulario-creacion">
          <form
            method="POST"
            action="/listaProductos/crear"
            enctype="multipart/form-data"
          >
            <div class="campos-formulario">
              <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" />
                <% if(locals.errors && errors.nombre){%>
                <div style="color: red"><%= errors.nombre.msg %></div>
                <%}%>
                <label for="tipo_id">Tipo de producto</label>
                <select name="tipo_id" id="tipo">
                  <option value="1">alimento</option>
                  <option value="2">juguete</option>
                </select>
              </div>
              <div>
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" />
                <% if(locals.errors && errors.precio){%>
                <div style="color: red"><%= errors.precio.msg %></div>
                <%}%>
                <label for="imagen">Archivo Foto</label>
                <input type="file" name="imagen" id="imagen" />
                <input
                  class="crear-boton no-mobile"
                  type="submit"
                  value="Crear Producto"
                />
              </div>
              <div>
                <label for="descripcion">Descripción</label>
                <textarea name="descripcion" id="descripcion"></textarea>
                <% if(locals.errors && errors.descripcion){%>
                <div style="color: red"><%= errors.descripcion.msg %></div>
                <%}%>
                <input
                  class="no-desktop crear-boton"
                  type="submit"
                  value="Crear Producto"
                />
                <button class="no-mobile">Limpiar Campos</button>
              </div>
            </div>
          </form>
        </div>
      </section>
      <h2>Lista de Productos</h2>
      <section>
        <table>
          <thead>
            <td>id</td>
            <td>Nombre</td>
            <td>Precio</td>
            <td class="no-mobile" width="30%">Descripción</td>
            <td>Tipo</td>
            <td class="no-mobile"></td>
          </thead>
          <tbody>
            <% for(let producto of listaProductos){ %>
            <tr>
              <td class="negrita idProducto"><%=producto.id%></td>
              <td><%=producto.nombre%></td>
              <td class="negrita">$<%=producto.precio%></td>
              <td class="descripcion no-mobile"><%=producto.descripcion%></td>
              <td><%=producto.tipo.nombre%></td>
              <td class="botones no-mobile" width="120">
                <form action="/listaProductos/<%=producto.id%>/editar/">
                  <button type="submit" class="editar">Editar</button>
                </form>
                <form
                  method="POST"
                  action="/listaProductos/<%=producto.id%>/eliminar?_method=DELETE"
                  class="form-eliminar"
                >
                  <button type="submit" class="eliminar">
                    <span class="text"> Eliminar </span>
                    <span id="<%=producto.nombre%>" class="icon"
                      ><svg
                        id="<%=producto.nombre%>"
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                      >
                        <path
                          id="<%=producto.nombre%>"
                          d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"
                        /></svg
                    ></span>
                  </button>
                </form>
              </td>
            </tr>
            <tr class="no-desktop no-desktop-tr">
              <td
                class="no-desktop botones botones-mobile"
                width="100%"
                colspan="7"
              >
                <div class="botones-wrapper">
                  <form action="/listaProductos/<%=producto.id%>/editar/">
                    <button type="submit" class="editar">Editar</button>
                  </form>
                  <form
                    method="POST"
                    action="/listaProductos/<%=producto.id%>/eliminar?_method=DELETE"
                    class="form-eliminar"
                    id="<%=producto.nombre%>"
                  >
                    <button type="submit" class="eliminar">Eliminar</button>
                  </form>
                </div>
              </td>
            </tr>
            <%} %>
          </tbody>
        </table>
      </section>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>

<script src="./events/alertaEliminar.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script
  src="https://kit.fontawesome.com/1998716f67.js"
  crossorigin="anonymous"
></script>
