<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <title>Registrarse</title>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="register-wrapper">
      <div class="cajaRegister">

        <% if(typeof errors != 'undefined'){ %>
          <h2>Errores</h2>
          <p style="color:red">ERROR</p>
          <ul>
            <% for (let i=0; i<errors.length; i++){ %>
              <li style="color:red">
                <%= errors[i].msg %>
              </li>
              <%}%>
              <% if(errors.create){%>
                <li style="color:red">
                  <%= errors.create %>
                </li>
              <%}%>
          </ul>
        <%}%>
  
        <form action="/userProfile/crear" method="POST"  enctype="multipart/form-data">
          <p class="tituloRegister" for="registrarse"
            >Crea tu Cuenta
          </p>
          <input
            class="barraInput"
            type="text"
            name="nombre"
            id="nombre"
            minlength=" 2"
            placeholder="Nombre y Apellido"
            value="<%= locals.old && old.nombre%>"
          />
          <input
            class="barraInput"
            type="text"
            name="usuario"
            id="usuario"
            minlength=" 2"
            placeholder="Nombre de Usuario"
            value="<%= locals.old && old.usuario %>"
            />
          <input
            class="barraInput"
            type="email"
            name="email"
            id="email"
            minlength=" 2"
            placeholder="Correo Electronico"
            value="<%= locals.old && old.email %>"
          />
          <p class="tituloRegister" for="dateB"
            >Fecha de nacimiento
          </p>
          <input
            class="barraInput"
            type="date"
            name="fecha"
            id="fecha"
            minlength=" 2"
            value="<%= locals.old && old.fecha %>"
          />
          <p class="tituloRegister" 
            name="direccionT"
            id="direccionT"
            for="direccionT"
            >Dirección
          </p>
          <input
            class="barraInput"
            type="text"
            name="pais"
            id="pais"
            minlength=" 2"
            placeholder="País"
            value="<%= locals.old && old.pais %>"
          />
          <input
            class="barraInput"
            type="text"
            name="ciudad"
            id="ciudad"
            minlength=" 2"
            placeholder="Ciudad"
            value="<%= locals.old && old.ciudad %>"
          />
          <input
            class="barraInput"
            type="text"
            name="direccion"
            id="direccion"
            minlength=" 2"
            value="<%= locals.old && old.direccion %>"
            placeholder="Direccion">
          </input>
          <p class="tituloRegister" for="autorizacionTextp">
            Autorización de contenido
          </p>
         </input>
          <div style="width: 80%">
            <input type="checkbox"
            name="autorizacion"
            id="autorizacion" 
            />
            <label
              class="textoPequeno"
              for="autorizacion "
              style="flex-wrap: wrap"
            >
              ¿Deseas recibir contenido de promociones y novedades de nuestra
              tienda?
            </label>
          </div>
          <p class="tituloRegister" for="fotoDeUsuario">Foto de usuario</p>
          <input class="barraInput" 
          type="file" src="" alt="Enviar" 
          name="foto" id="foto"
          value="<%= locals.old && old.foto %>" 
          />
          <input
            class="barraInput"
            type="password"
            name="contrasena"
            id="contrasena"
            minlength=" 2"
            placeholder="Contraseña"
          />
          <input
            class="barraInput"
            type="password"
            name="confirmarContrasena"
            id="confirmarContrasena"
            minlength=" 2"
            placeholder="Confirmar Contraseña"
          />
          <input class="enviarLogin" type="submit" value="Crear Usuario">
          <input class="enviarLogin" type="reset" value="Borrar Datos"></in>
        </form>
      </div>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
